In [9]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info={'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
          'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}

print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [9]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
emp_val=[emp1_val,emp2_val,emp3_val]

out_dict={}
for i in range(len(lst1)):
    in_dict={}
    k=0
    for j in emp_key:
        in_dict[j]=emp_val[i][k]
        k+=1
    out_dict[lst1[i]] = in_dict
print(out_dict)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [16]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict)
print(sampleDict['class']['student']['marks']['history'])

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [18]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}


d=dict.fromkeys(['Kelly', 'Emma', 'John'],{"designation": 'Application Developer', "salary": 8000})
print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [14]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.
d={'A':'U','T':'A','C':'G','G':'C'}
DNA='TCGAAGTTCA'

for i in DNA:
    i=d[i]
    print(i,end='')

AGCUUCAAGU

In [15]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are 
#repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

a="google.com"
dict1={}
for i in a:
    dict1[i]=a.count(i)
print(dict1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [32]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }
DNA='ATCG'
a="CTATCGGCACCCTTTCAGCA"
a="AGT"
dict1={}
b=set(a)
for i in DNA:
    if i not in b:
        dict1[i]=0
    else:
        dict1[i]=a.count(i)
print(dict1)

{'A': 1, 'T': 1, 'C': 0, 'G': 1}

In [38]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above. 
'''Ans>>>None of the above'''

d={}
#d = {"Name": "Tom" }
#d["Name"] = "Tom"
#d.update({"Name": "Tom" })
d.setdefault("Name", "Tom")
print(d)

{'Name': 'Tom'}

In [42]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
'''Ans>>> d.values()'''

d = {"a":1, "b":2}
print(d.keys())
print(d.values())
print(d.items())
print(d.popitem())

dict_keys(['a', 'b'])
dict_values([1, 2])
dict_items([('a', 1), ('b', 2)])
('b', 2)

In [44]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d=  { (1,3,4): 4.5 } 
'''Ans>>> above one'''
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

{(1, 3, 4): 4.5}

In [84]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(dict1, val):
    lst=[]
    for key,value in dict1.items():
             if val==value:
                lst.append(key) 
    return lst
                        
reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# reverseLookup({'a':1, 'b':2, 'c':2}, 3)

['a']

In [7]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the 
# keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(d):
    newdict = {}
    for k, v in d.items():
        newdict.setdefault(v, []).append(k)
    print(newdict)
        
invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
invertDictionary({'a':3, 'b':3, 'c':3})
invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})

{1: ['a'], 2: ['b', 'd'], 3: ['c']}
{3: ['a', 'b', 'c']}
{2: ['a', 'c'], 1: ['b', 'd']}

In [6]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(l):
    dict1={}
    for i in range(len(l)):
        if l[i]!=0:
            k=i
            dict1[k]=l[i]
        else :
            continue
    print(dict1)

convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]) 
convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
convertVector([0, 0, 0, 0, 0])

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [5]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def convertDictionary(d):
    lst=[]
    k_lst=list(d.keys())
    v_lst=list(d.values())
    if d=={}:
        print(lst)
    else:
            for i in range(k_lst[-1]+1):
                if i in k_lst:
                    a=d[i]
                    lst.append(a)
                elif i not in k_lst:
                    lst.append(0)
        
            print(lst)
convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
convertDictionary({})

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [9]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']={'name': 'Brad', 'salary': 8500}
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [15]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

for k,v in sampleDict.items():
    lst=list(sampleDict.values())
    a=min(lst)
    if v==a:
        print(k)

Math

In [23]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

k_lst=list(sampleDict.keys())
v_lst=list(sampleDict.values())
k_lst[3]="location"
sampleDict=dict(zip(k_lst,v_lst))
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [36]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

sampleDict = {'a': 100, 'b': 200, 'c': 300}
v_lst=sampleDict.values()

a=lambda i: True if i in v_lst else False
print(a(200))

True

In [40]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}


sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"}

del sampleDict["name"]
del sampleDict["salary"]
print(sampleDict)

{'age': 25, 'city': 'New york'}