In [2]:
#Declare a string and store it in a variable. 

s = "this is first string"

#Check the type and print the id of the same.

print(type(s),id(s))

<class 'str'> 140515930569440

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid/invalid -->valid

2. "This is Python class"
valid/invalid -->valid

3. '''This is Python class'''
valid/invalid --> valid

4. """This is Python class"""
valid/invalid -->valid

5. 'This is Python's class'
valid/invalid -->invalid

6. "Learnbay provides "Java", "Python" classes"
valid/invalid --> invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid/invalid --> valid

8. "This is Python's class"
valid/invalid --> valid

9. """Learnbay provides "Java", "Python" classes"""
valid/invalid --> valid

10. '''Learnbay provides "Java", "Python" classes'''
valid/invalid   # --> valid

11. '''Learnbay provides
"Java", "Python" 
classes'''
valid/invalid --> valid

12. 'This is
Python 
class'
valid/invalid --> invalid

In [1]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print(len(my_str))
#output:- The length of my_str is 66

print(id(my_str)==id(my_str1))
#output:- id of my_str and my_str1 is same? - True --> False

print(type(my_str))
#output:- Type of my_str is: str -->True

66
False
<class 'str'>

In [3]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print(my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print(my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print(my_str[9])
#output:- The character at index 10 in my_str is: c
#Note:- Use positive indexing

print(my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print(my_str[len(my_str)-1])
#output:- The last character in my_str is: h
#Note:- Use len() function.

print(my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

A
h
8
h
h
8

In [91]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print(my_str[:])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0:len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:10:1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print(my_str[0:10:-1])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth


print(my_str[::3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print(my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print(my_str[-1:-1*len(my_str)-1:-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.


print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[-1:-1*len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output?
#Blank

print(my_str[my_str.index('y'):my_str.index('a')-1:-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[my_str.index("'")-7:my_str.index("'"):1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although t

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl

yaw ta
ess you

In [12]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+' '+str2)

#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str2*3)

#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

Learnbay Python
PythonPythonPython

In [26]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
id(str1)==id(str2)

#print False by using identity operator between str1 and str3
id(str1)==id(str3)

#print False by using identity operator between str4 and str3
id(str4)==id(str3)

#Check if P is available in str1 and print True by using membership operator
'P' in str1

#Check if $ is available in str3 and print True by using membership operator
'$' in str3

#Check if N is available in str3 and print False by using membership operator
'N' in str3

False

In [28]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.


#str1.replace('Python','Java')

'This is Java class'

In [33]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
str1 is str2

#Compare str1 and str2 and print True using equality operator
str1 == str2

#Compare str1 and str2 and print False using equality operator
str1 != str2

#Compare str1 and str2 and print False using comparison operator
str1 is not str2

False

In [37]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
str1 < str2

#Compare str1 and str2 and print True using equality operator
str1 != str2

#Compare str1 and str2 and print False using equality operator
str1 == str2

#Compare str1 and str2 and print False using comparison operator
str1 > str2

False

In [44]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'

#Compare str1 and str2 and print True using equality operator
str1 == chr(int(str2))

#Compare str1 and str2 and print False using equality operator
str1 ==str2

False

In [50]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
str1>=str2

#Compare str1 and str2 and print True using equality operator
str1==str2

#Compare str1 and str2 and print False using equality operator
str1!=str2

#Compare str1 and str2 and print False using comparison operator
str1>str2

False

In [56]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
str1<str2

#Compare str1 and str2 and print True using equality operator
str1.upper()==str2.upper()

#Compare str1 and str2 and print False using equality operator
str1==str2

#Compare str1 and str2 and print False using comparison operator
str1>str2

False

In [65]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)
print(not a and not b)

Python
False
True
False

In [67]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)

True

In [70]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)

learnbay
Python
False

In [111]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
cnt=0
i=0
if 't' in my_str:
    while i<len(my_str) and i>=0:
        i = my_str.find('t',i,len(my_str))
        cnt+=1
        if i !=-1:
            i += 1
print(cnt-1)
print()

# #Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.index('8'))
print()

# #What will be the output of below code?
print(my_str.find('the'))


# print(my_str.index('the'))  -->  Error substring not in string


print(my_str.find('t', 9, 15))


print(my_str.rfind('u'))


print(my_str.rindex('u'))

7

9

-1
11
63
63

In [115]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies 
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'
print('    Python   '.strip())
#input:- '    Python'
#output:- 'Python'
'    Python'.lstrip()
#input:- 'Python   '
#output:- 'Python'
'Python   '.rstrip()

Python

'Python'

In [116]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [120]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding 
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital.

lst = input().split()
' '.join([i.capitalize() for i in lst])

This is a test sentence

'This Is A Test Sentence'

In [133]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

s = input()
s.isalnum()
s.isalpha()
s.isnumeric()
s.islower()
s.isupper()
s.istitle()
s.isspace()
s.isdigit()
s.isdecimal()

989

True

In [138]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'

print(input().isidentifier())

abc$
False

In [140]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable()) #true

s = chr(27) + chr(97)
print(s.isprintable()) #false

s = '\n'
print(s.isprintable())#flase

s = ''
print(s.isprintable())#true

True
False
False
True

In [141]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

True
True
True
True
False
False

In [144]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

der fluss
The strings are equal.

In [148]:
#Write the code to get below output
#O/P 1:- python** (using ljust method)
'python'.ljust(8,'*')

#Write the code to get below output
#O/P 1:- **python (using rjust method)
'python'.rjust(8,'*')

#Write the code to get below output
#O/P 1:- **python** (using rjust method)
'python'.ljust(8,'*').rjust(10,'*')

'**python**'

In [150]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55
c =0
for i in input():
    c+=1
print(c)

Write a Python program to find the length of the my_str
55

In [151]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9

print(input().count('p'))

peter piper picked a peck of pickled peppers
9

In [156]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-
    
#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40
i=0
s = 'peter piper picked a peck of pickled peppers.'
while i<len(s):
    #print(s[i:len(s)])
    if 'p' in s[i:len(s)]:
        i = s.index('p',i,len(s)) + 1
        print(i-1)
    else:
        break

0
6
8
12
21
29
37
39
40

In [168]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', 
#Output:- '*********************Peck********************'

s='Peter Piper Picked A Peck Of Pickled Peppers.'
res = 'Peck'.rjust(len(s)//2+1,'*').ljust(len(s),'*')
res

'*******************Peck**********************'

In [160]:
#Write a python program to find below output (implement partition and rpartition):-

#Input:- 'This is Python class', sep = ' is', 
#Output:- ['This ', 'is', ' Python class']

s ='This is Python class'
sep ='is'
s.rpartition(sep)

('This ', 'is', ' Python class')