In [13]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {'Tom' : {'email': 'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}, 'Kathy' :{ 'email': 'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}

            
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [17]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

emp_info = {'emp1' : {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
            'emp2' : {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
            'emp3' : {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '9,500'}}
print(emp_info)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '9,500'}}

In [18]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['marks']['history'])
# print(st_info['st1']['marks']

80

In [20]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

resDict = dict.fromkeys(employees, defaults)
print(resDict)

# # Individual data
# print(resDict["Kelly"])

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [23]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

dna_input = str(input("Enter DNA strand separated by space:"))
dna = dna_input.split(" ")
rna=[]
def transcript(dna):
    dict = {'A': 'U', 'T':'A', 'C':'G','G':'C'}
    for i in dna:
        rna.append(dict[i])
    return rna    

transcript(dna)

Enter DNA strand separated by space:A T C G G T A A C

['U', 'A', 'G', 'C', 'C', 'A', 'U', 'U', 'G']

In [27]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

str1='google.com' 
dict = {}
def count_letter(str1):
    for i in str1:
        dict[i] = str1.count(i)
    return dict
dict1 = count_letter(str1)
print(dict1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [50]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }

dic1 = {}
str1=['A','C','T','G']
def baseComposition(baseComp):
    for i in str1:
        dic1[i]=baseComp.count(i)
    return dic1 
print(baseComposition("CTATCGGCACCCTTTCAGCA"))
        

    
# # In - baseComposition("AGT")
# # Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }
print(baseComposition("AGT"))

{'A': 4, 'C': 8, 'T': 5, 'G': 3}
{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [54]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
d = {"Name": "Tom" }
print(d)
d["Name"] = "Tom"
print(d)
d.update({"Name": "Tom" })
print(d)
d.setdefault("Name", "Tom")
print(d)
# 5. None of the above.


# Ans: 5

{'Name': 'Tom'}
{'Name': 'Tom'}
{'Name': 'Tom'}
{'Name': 'Tom'}

In [59]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
d = {"a":1, "b":2}
# 1. d.keys()
# 2. 
d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

# Ans:2

dict_values([1, 2])

In [67]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. 
d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

# Ans:3

TypeError: unhashable type: 'list'

In [90]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']

dic1={'a':1, 'b':2, 'c':2}
#list2=[]
def reverseLookup(dic1,val):
    list2=[]
    list1= dic1.items()
    for char,val1 in list1:
        if val1 == val:
            list2.append(char)
    return list2        
               
print(reverseLookup(dic1, 1))
print(reverseLookup(dic1, 2))
print(reverseLookup(dic1, 3))

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']


# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)

# Out - []

['a']
['b', 'c']
[]

In [96]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}

#dic1= {'a':1, 'b':2, 'c':3, 'd':2}
def invertDictionary(dic1):
    dic2={}
    list1=dic1.items()
    for key1,val1 in list1:
            dic2[val1] = [k for k,v in dic1.items() if v == val1]
    return dic2
print(invertDictionary({'a':1, 'b':2, 'c':3, 'd':2}))




# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}


print(invertDictionary({'a':3, 'b':3, 'c':3}))

# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

print(invertDictionary({'a':2, 'b':1, 'c':2, 'd':1}))

{1: ['a'], 2: ['b', 'd'], 3: ['c']}
{3: ['a', 'b', 'c']}
{2: ['a', 'c'], 1: ['b', 'd']}

In [99]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}

def convertVector(vect):
    dic1={}
    for i in range(len(vect)):
        if (vect[i] != 0):
            dic1[i]=vect[i]
    return dic1        
        
print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))



# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

print(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]))


# In - convertVector([0, 0, 0, 0, 0])
# Out - {}
print(convertVector([0, 0, 0, 0, 0]))

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [106]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

def convertDictionary(dic2):
    lst=[]
    if(dic2 != {}):
        key1 = dic2.keys()
        max_index = max(key1)
        for i in range(max_index+1):
            if(i in key1):
                lst.append(dic2.get(i))
            else:
                lst.append(0)
        return lst
    return lst
print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))

# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))

# In - convertDictionary({})
# Out - []
dict = {}
print(convertDictionary(dict))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [108]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sample1 ={'emp3': {'name': 'Brad', 'salary': 8500}}


sampleDict.update(sample1)
print(sampleDict)


# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [114]:
# Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_val = min(sampleDict.values())
result =[k for k, v in sampleDict.items() if v == min_val]
print(result)

# Expected Output
# Math

['Math']

In [122]:
# Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict["location"] = sampleDict.pop("city")
print(sampleDict)



# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [129]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

sampleDict = {'a': 100, 'b': 200, 'c': 300}
chkValue = 200
if(chkValue in sampleDict.values()):
    print(True)
else:
    print(False)

# Expected Output: True

True

In [130]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]

for i in keysToRemove:
    sampleDict.pop(i)
print(sampleDict)


# Expected Output:
# {'city': 'New york', 'age': 25}

{'age': 25, 'city': 'New york'}