In [1]:
#Write a Python program to find the sum of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 100

total =0 
mylist = [10,20,30,40]
print(len(mylist))
for i in range(0, len(mylist)): 
    total = total + mylist[i] 
  
#printing total value 
print("Sum of all elements in given list: ", total)

4
Sum of all elements in given list:  100

In [2]:
#Write a Python program to find the multiplication of all elements in a list using loop.
#Input:- [10,20,30,40]
#Output:- 240000
output =1
mylist = [10,20,30,40]
print(len(mylist))
for i in range(0, len(mylist)): 
    output =output* mylist[i] 
  
#printing multiple value 
print("multiple  of all elements in given list: ", output)

4
multiple  of all elements in given list:  240000

In [3]:
#Write a Python program to find the largest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 2321
mylist = [10,100,2321, 1,200,2]
mylist.sort() 
  
# printing the last element 
print("Largest element is:", mylist[-1])

Largest element is: 2321

In [4]:
#Write a Python program to find the smallest number from a list using loop.
#Input:- [10,100,2321, 1,200,2]
#Output:- 1
mylist = [10,100,2321, 1,200,2]
mylist.sort() 
  
# printing the last element 
print("smallest element is:", mylist[0])

smallest element is: 1

In [5]:
#Write a Python program to count the number of strings having length more than 2 and are palindrome in a list using loop.
#Input:- ['ab', 'abc', 'aba', 'xyz', '1991']
#Output:- 2

my_list= ['ab', 'abc', 'aba', 'xyz', '1991']
i=0
new=[]
for word in my_list:
    a = len(my_list[i])
    b = my_list[i]
    i+=1
    if a>2 and b[::]==b[::-1] and word not in new:
        new.append(word)
print("Number of strings having length more than 2 and are palindrome : ",len(new))

Number of strings having length more than 2 and are palindrome :  2

In [6]:
#Write a Python program to sort a list in ascending order using loop.
#Input:- [100,10,1,298,65,483,49876,2,80,9,9213]
#Output:- [1,2,9,10,65,80,100,298,483,9213,49876]

lst = [100,10,1,298,65,483,49876,2,80,9,9213]


for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>lst[j]:
            a=lst[i]
            lst[i]=lst[j]
            lst[j]=a
            
print(lst)

[1, 2, 9, 10, 65, 80, 100, 298, 483, 9213, 49876]

In [7]:
#Write a Python program to get a sorted list in increasing order of last element in each tuple in a given list using loop.
#Input:- [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]
#output:- [(9,1),(2,3),(5,4),(5,5),(7,6),(5,9)]

lst = [(5,4),(9,1),(2,3),(5,9),(7,6),(5,5)]

new=[]
new1=[]
for i in range(len(lst)):
    a=lst[i][1]
    b=lst[i][0]
    tup=(a,b)
    new.append(tup)
new.sort()
for j in range(len(new)):
    c=new[j][1]
    d=new[j][0]
    tup1=(c,d)
    new1.append(tup1) 
print(new1)

[(9, 1), (2, 3), (5, 4), (5, 5), (7, 6), (5, 9)]

In [8]:
#Write a Python program to remove fuplicate element from a list using loop.
#Input:- [10,1,11,1,29,876,768,10,11,1,92,29,876]
#Output:- [10,1,11,29,876,768,92]

lst = [10,1,11,1,29,876,768,10,11,1,92,29,876]

a=[]
for num in lst:
    if num not in a:
        a.append(num)
print("Output : ",a)

Output :  [10, 1, 11, 29, 876, 768, 92]

In [9]:
#Write a Python program to check a list is empty or not?
#Input:- []
#Output:- List is empty
#Input:- [10,20,30]
#Output:- List is not empty
lst = eval(input('Enter a list: '))
print(lst)

if len(lst)==0:
    print("List is empty")
else:
    print("List is not empty")

Enter a list:

SyntaxError: unexpected EOF while parsing (<string>, line 0)

In [10]:
#Write a Python program to copy a list using loop.
#inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]
#out_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

new=[]
for i in inp_lst:
    new.append(i)
print("Copy of the list : ",new)

Copy of the list :  [10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [11]:
#Write a Python program to find the list of words that are longer than or equal to 4 from a given string.
#Input:- 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'
#Output:- ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could', 'could']
#Note:- Duplicate should be avoided.

string = 'How much wood would a woodchuck chuck if a woodchuck could chuck wood'  

lst=string.split()
i=0
new=[]
for word in lst:
    n=len(lst[i])
    i+=1
    if n>=4 and word not in new:
        new.append(word)
print("Output : ",new)

Output :  ['much', 'wood', 'would', 'woodchuck', 'chuck', 'could']

In [12]:
#Write a Python program which takes two list as input and returns True if they have at least 3 common elements.
#inp_lst1 = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
#inp_lst2 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']
#Output:- True

lst = [10,20,'Python', 10.20, 10+20j, [10,20,30], (10,20,30)]
lst1 = [(10,20,30),1,20+3j,100.2, 10+20j, [10,20,30],'Python']

from copy import deepcopy
a_deep=deepcopy(lst)
for num in lst1:
    if num in a_deep:
        a_deep.append(num)
for num in lst:
    if num in a_deep:
        a_deep.remove(num)
if len(a_deep)>=3:
    print("Output : ",True)
else:
    print("Output : ",False)

Output :  True

In [13]:
#Write a Python program to create a 4X4 2D matrix with below elements using loop and list comprehension both.
#Output:- [[0,0,0,0],[0,1,2,3],[0,2,4,6],[0,3,6,9]]

inp_lst = [10,10.20,10+20j, 'Python', [10,20], (10,20)]

new=[]
for i in inp_lst:
    new.append(i)
print("Copy of the list : ",new)

Copy of the list :  [10, 10.2, (10+20j), 'Python', [10, 20], (10, 20)]

In [14]:
#Write a Python program to create a 3X4X6 3D matrix wiith below elements using loop
#Output:- 
# [
#     [[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0],[0,0,0,0,0,0]],
#     [[0,0,0,0,0,0],[1,1,1,1,1,1],[2,2,2,2,2,2],[3,3,3,3,3,3]],
#     [[0,0,0,0,0,0],[2,2,2,2,2,2],[4,4,4,4,4,4],[6,6,6,6,6,6]]
# ]

[[i*j for j in range(4)] for i in range(4)]

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [15]:
#Write a Python program which takes a list of numbers as input and prints a new list after removing even numbers from it.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [21,87,45,33,1]
out_lst=[]
for i in range(3):
    in_lst1=[]
    for j in range(4):
        in_lst2=[]
        for k in range(6):
            in_lst2.append(i*j)
        in_lst1.append(in_lst2)
    out_lst.append(in_lst1)
print(out_lst)

[[[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1], [2, 2, 2, 2, 2, 2], [3, 3, 3, 3, 3, 3]], [[0, 0, 0, 0, 0, 0], [2, 2, 2, 2, 2, 2], [4, 4, 4, 4, 4, 4], [6, 6, 6, 6, 6, 6]]]

In [16]:
#Write a Python program which takes a list from the user and prints it after reshuffling the elements of the list.
#Input:- [10,21,22,98,87,45,33,1,2,100]
#Output:- [1,87,21,10,33,2,100,45,98,22] (It may be any randon list but with same elements)


inp=[10,21,22,98,87,45,33,1,2,100]

new=[]
for num in inp:
    if num%2!=0 and num not in new:
        new.append(num)
print("New list : ",new)

New list :  [21, 87, 45, 33, 1]