In [2]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}


# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
            'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
           
           }

In [21]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

dict1={}
dict2={}
dict3={}
final_dict={}
for lst in range(len(emp_key)):
            dict1[emp_key[lst]] = emp1_val[lst]
            dict2[emp_key[lst]] = emp2_val[lst]
            dict3[emp_key[lst]] = emp3_val[lst]
for lst in lst1:
    if lst=="emp1":
        final_dict[lst]=dict1
    elif lst == 'emp2':
        final_dict[lst]=dict2
    else:
        final_dict[lst]=dict3
print(dict(final_dict))

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [22]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict["class"]["student"]["marks"]["history"])

80

In [1]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
dictionary={}
for i in employees:
    dictionary[i]=defaults
print(dict(dictionary))

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [16]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.
dict1={"A":"U","T":"A","C":"G","G":"C"}
seq="ATGGTAMKINBEXJTTA"
print(list(filter( lambda x: True if x != "NA" else False , list(map(lambda x: dict1[x] if x in dict1.keys() else "NA" ,seq)))))
# Use a dictionary to provide the mapping of DNA to RNA bases.

['U', 'A', 'C', 'C', 'A', 'U', 'A', 'A', 'U']

In [19]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
dict2={}
a=input("enter a string")
for i in a:
    dict2[i]=a.count(i)
print(dict2)

enter a stringdsafsafsafewfesfd
{'d': 2, 's': 4, 'a': 3, 'f': 5, 'e': 2, 'w': 1}

In [25]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }

def baseComposition(seq):
    base_dict={'A': 0, 'C': 0, 'T': 0,  'G': 0 }
    for i in seq:
        base_dict[i]=seq.count(i)
    return base_dict
    
print(baseComposition("CTATCGGCACCCTTTCAGCA"))
print(baseComposition("AGT"))
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

{'A': 4, 'C': 8, 'T': 5, 'G': 3}
{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [31]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
#help(dict.update)
#none of the above

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

None

In [ ]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

#2

In [36]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
d = { (1,3,4): 4.5 }
#d = { ["First", "Last"]: (1,3) }
#d = { 1: 0.4 }
# 5. None of the above

In [41]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverselookup(d,val):
    a=[]
    for i in d:
        if val==d[i]:
            a.append(i)
    a.sort()
    return a
print(reverselookup({'a':1, 'b':2, 'c':2}, 1))
print(reverselookup({'a':1, 'b':2, 'c':2}, 2))
print(reverselookup({'a':1, 'b':2, 'c':2}, 3))

['a']
['b', 'c']
[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [2]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}
def convertVector(seq):
    dic={}
    for i in range(len(seq)):
        if seq[i] != 0:
            dic[i]=seq[i]
    return dic

    
print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))
print(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]))
print(convertVector([0, 0, 0, 0, 0]))

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [14]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []
def convertDictionary(seq):
    lst=[]
    if len(seq) >0:
        for i in range(max(seq.keys())+1):
            lst.append(0)
        for i in seq:
            lst[i]=seq[i]
    return lst

    
print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))
print(convertDictionary({}))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [16]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

for i in sampleDict:
    if sampleDict[i]['name']=='Brad':
        sampleDict[i]['salary']=8500
print(sampleDict)

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [3]:
# Get the key corresponding to the minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# Expected Output
m=min(sampleDict.values())
for i in sampleDict:
    if m == sampleDict[i]:
        print(f"Minimum key is {i}")

Minimum key is Math

In [7]:
# Rename key city to location in the following dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict["Location"]=sampleDict.pop("city")
print(sampleDict)

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New york'}

In [11]:
# Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}
print(200 in sampleDict.values())
# Expected Output: True

True

In [5]:
# Delete set of keys from Python Dictionary
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

{'age': 25, 'city': 'New york'}